<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <script type="text/javascript" src="/webjars/jquery/3.6.1/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.2.2/dist/js/bootstrap.min.js"></script>
    <!--    <script type="text/javascript" src="/webjars/popper.js/1.16.1-lts/dist/popper.min.js"></script>-->
    <title>Admin panel</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 p-2 bg-dark text-white">
                <a class="fw-bold text-white" sec:authentication="name"></a>
                <a>with roles:</a>
                <a th:each="authority : ${#authentication.getAuthorities()}"
                   th:if="${authority.getAuthority().startsWith('ROLE_')}"
                   th:text="${authority.getAuthority().replaceFirst('ROLE_', ' ')}">
                </a>
                <a th:href="@{/logout}" class="float-end text-secondary">Logout</a>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2" style="padding: 15px 0 0;">
                    <ul class="nav nav-pills flex-column">
                        <!-- Button Admin -->
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="/admin">Admin</a>
                        </li>
                        <!-- Button User -->
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="/user">User</a>
                        </li>
                    </ul>
                </div>

                <!-- Column content -->
                <div class="col-10 bg-light">
                    <div class="tab-content" style="padding-top: 2%">
                        <h2>Admin panel</h2>

                        <!-- Tab nav -->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="users-tab" data-bs-toggle="tab"
                                        data-bs-target="#users" type="button" role="tab" aria-controls="users"
                                        aria-selected="true">Users table
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="newUser-tab" data-bs-toggle="tab"
                                        data-bs-target="#newUser" type="button" role="tab" aria-controls="newUser"
                                        aria-selected="false">New User
                                </button>
                            </li>
                        </ul>

                        <!-- Tab content -->
                        <div class="tab-content" id="myTabContent">

                            <!-- Pane All Users -->
                            <div class="tab-pane fade show active" id="users" role="tabpanel"
                                 aria-labelledby="users-tab">
                                <div class="card">
                                    <h5 class="card-header">Users</h5>
                                    <div class="card-body align-content-center">
                                        <table class="table table-striped">

                                            <!-- Table header -->
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="user: ${users}">
                                                <td th:text="${user.id}"/>
                                                <td th:text="${user.firstName}"/>
                                                <td th:text="${user.lastName}"/>
                                                <td th:text="${user.age}"/>
                                                <td th:text="${user.login}"/>
                                                <td>
                                                    <th:block th:each="role :${user.getRoles()}">
                                                        <label th:text="${role.getNoPrefixName()}"></label>
                                                    </th:block>
                                                </td>

                                                <!-- Edit Button -->
                                                <td>
                                                    <a class="btn btn-info ml-3" data-bs-toggle="modal"
                                                       th:data-bs-target="${'#editModal' + user.id}">Edit
                                                    </a>

                                                    <!-- Edit Modal -->
                                                    <div aria-hidden="true" aria-labelledby="editModalLabel"
                                                         class="modal fade"
                                                         th:id="${'editModal' + user.id}"
                                                         tabindex="-1">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <form action="#" method="post"
                                                                      th:action="@{/admin/update}" th:object="${user}">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title fs-5"
                                                                            id="editModalLabel">Edit user</h5>
                                                                        <button type="button" class="btn-close"
                                                                                data-bs-dismiss="modal"
                                                                                aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body justify-content-center col-6 mx-auto text-center">
                                                                        <div class="form-group">
                                                                            <label th:for="'idEdit' + ${user.id}"
                                                                                   class="col-form-label"><strong>ID</strong></label>
                                                                            <input type="text" class="form-control"
                                                                                   th:id="'idEdit' + ${user.id}"
                                                                                   th:value="*{id}" name="id">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label th:for="'firstNameEdit' + ${user.id}"
                                                                                   class="col-form-label"><strong>First
                                                                                Name</strong></label>
                                                                            <input th:value="*{firstName}"
                                                                                   name="firstName" type="text"
                                                                                   class="form-control"
                                                                                   th:id="'firstNameEdit' + ${user.id}">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label th:for="'lastNameEdit' + ${user.id}"
                                                                                   class="col-form-label"><strong>Last
                                                                                Name</strong></label>
                                                                            <input th:value="*{lastName}"
                                                                                   name="lastName" type="text"
                                                                                   class="form-control"
                                                                                   th:id="'lastNameEdit' + ${user.id}">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label th:for="'ageEdit' + ${user.id}"
                                                                                   class="col-form-label"><strong>Age</strong></label>
                                                                            <input th:value="*{age}" name="age"
                                                                                   type="number" class="form-control"
                                                                                   th:id="'ageEdit' + ${user.id}">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label th:for="'loginEdit' + ${user.id}"
                                                                                   class="col-form-label"><strong>Email</strong></label>
                                                                            <input th:value="*{login}" name="login"
                                                                                   type="text" class="form-control"
                                                                                   th:id="'loginEdit' + ${user.id}">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label th:for="'passwordEdit' + ${user.id}"
                                                                                   class="col-form-label"><strong>Password</strong></label>
                                                                            <input th:value="*{password}"
                                                                                   name="password" type="password"
                                                                                   class="form-control"
                                                                                   th:id="'passwordEdit' + ${user.id}">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label th:for="'roleEdit' + ${user.id}"
                                                                                   class="col-form-label"><strong>Role</strong></label>
                                                                            <select class="form-control select-checkbox"
                                                                                    th:field="*{roles}"
                                                                                    th:id="'roleEdit' + ${user.id}"
                                                                                    multiple
                                                                                    size="2">
                                                                                <option th:each="role : ${roles}"
                                                                                        th:value="${role.name}"
                                                                                        th:text="${role.getNoPrefixName()}"
                                                                                        name="roles"/>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-bs-dismiss="modal">Close
                                                                        </button>
                                                                        <button type="submit" class="btn btn-primary">
                                                                            Edit
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End Edit Modal -->
                                                </td>

                                                <!-- Delete Button -->
                                                <td>
                                                    <a class="btn btn-danger ml-3" data-bs-toggle="modal"
                                                       th:data-bs-target="${'#deleteModal' + user.id}">Delete
                                                    </a>

                                                    <!-- Delete Modal -->
                                                    <div aria-hidden="true" aria-labelledby="deleteModalLabel"
                                                         class="modal fade"
                                                         th:id="${'deleteModal' + user.id}"
                                                         tabindex="-1">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <form action="#" method="get"
                                                                      th:action="@{/admin/delete/{id}(id=${user.id})}"
                                                                      th:object="${user}">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title fs-5" id="deleteModalLabel">
                                                                            Delete user</h5>
                                                                        <button type="button" class="btn-close"
                                                                                data-bs-dismiss="modal"
                                                                                aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body justify-content-center col-6 mx-auto text-center">
                                                                        <div class="form-group">
                                                                            <label th:for="'idDelete' + ${user.id}"
                                                                                   class="col-form-label"><strong>ID</strong></label>
                                                                            <input type="text" class="form-control"
                                                                                   th:id="'idDelete' + ${user.id}"
                                                                                   th:value="*{id}" name="id"
                                                                                   disabled="disabled">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label th:for="'firstNameDelete' + ${user.id}"
                                                                                   class="col-form-label"><strong>First
                                                                                Name</strong></label>
                                                                            <input th:value="*{firstName}"
                                                                                   name="firstName" type="text"
                                                                                   class="form-control"
                                                                                   th:id="'firstNameDelete' + ${user.id}">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label th:for="'lastNameDelete' + ${user.id}"
                                                                                   class="col-form-label"><strong>Last
                                                                                Name</strong></label>
                                                                            <input th:value="*{lastName}"
                                                                                   name="lastName" type="text"
                                                                                   class="form-control"
                                                                                   th:id="'lastNameDelete' + ${user.id}">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label th:for="'ageDelete' + ${user.id}"
                                                                                   class="col-form-label"><strong>Age</strong></label>
                                                                            <input th:value="*{age}" name="age"
                                                                                   type="number" class="form-control"
                                                                                   th:id="'ageDelete' + ${user.id}">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label th:for="'loginDelete' + ${user.id}"
                                                                                   class="col-form-label"><strong>Email</strong></label>
                                                                            <input th:value="*{login}" name="login"
                                                                                   type="text" class="form-control"
                                                                                   th:id="'loginDelete' + ${user.id}">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label th:for="'roleDelete' + ${user.id}"
                                                                                   class="col-form-label"><strong>Role</strong></label>
                                                                            <select class="form-control select-checkbox"
                                                                                    th:field="*{roles}"
                                                                                    th:id="'roleDelete' + ${user.id}"
                                                                                    multiple
                                                                                    size="2">
                                                                                <option th:each="role : ${roles}"
                                                                                        th:value="${role.name}"
                                                                                        th:text="${role.getNoPrefixName()}"
                                                                                        name="roles"/>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-bs-dismiss="modal">Close
                                                                        </button>
                                                                        <button type="submit" class="btn btn-danger">
                                                                            Delete
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End Delete Modal -->
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- Pane New User -->
                            <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="newUser-tab">
                                <div class="card">
                                    <h5 class="card-header">Add new user</h5>
                                    <div class="card-body">

                                        <!--Form New User-->
                                        <div class="form justify-content-center mx-auto col-5 text-center">
                                            <form action="#" method="post" th:action="@{/admin/adduser}"
                                                  th:object="${user}">
                                                <!--                                                <div class="form-group">-->
                                                <!--                                                    <label for="idNewUser" class="col-form-label"></label>-->
                                                <!--                                                    <input type="text" class="form-control" id="idNewUser"-->
                                                <!--                                                           th:value="*{id}" name="id" hidden="hidden">-->
                                                <!--                                                </div>-->
                                                <div class="form-group">
                                                    <label for="firstNameNewUser" class="col-form-label"><strong>First
                                                        Name</strong></label>
                                                    <input th:value="*{firstName}" name="firstName" type="text"
                                                           class="form-control" id="firstNameNewUser">
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastNameNewUser" class="col-form-label"><strong>Last
                                                        Name</strong></label>
                                                    <input th:value="*{lastName}" name="lastName" type="text"
                                                           class="form-control" id="lastNameNewUser">
                                                </div>
                                                <div class="form-group">
                                                    <label for="ageNewUser" class="col-form-label"><strong>Age:</strong></label>
                                                    <input th:value="*{age}" name="age" type="number"
                                                           class="form-control"
                                                           id="ageNewUser">
                                                </div>
                                                <div class="form-group">
                                                    <label for="loginNewUser"
                                                           class="col-form-label"><strong>Email</strong></label>
                                                    <input th:value="*{login}" name="login" type="text"
                                                           class="form-control"
                                                           id="loginNewUser">
                                                </div>
                                                <div class="form-group">
                                                    <label for="passwordNewUser"
                                                           class="col-form-label"><strong>Password:</strong></label>
                                                    <input th:value="*{password}" name="password" type="password"
                                                           class="form-control"
                                                           id="passwordNewUser">
                                                </div>
                                                <div class="form-group">
                                                    <label for="rolesNewUser"
                                                           class="col-form-label"><strong>Roles</strong></label>
                                                    <select class="form-control select-checkbox" th:field="*{roles}"
                                                            id="rolesNewUser" multiple size="2">
                                                        <option th:each="role : ${roles}"
                                                                th:value="${role.name}"
                                                                th:text="${role.getNoPrefixName()}" name="roles"/>
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-success my-3">Add new user</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>